<h3>Orbit Report</h3>
<table>
  <tr class="header-row">
    <th class="sortable" (click)="sort('name')">Name</th>
    <th class="sortable" (click)="sort('type')">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>
  <tr *ngFor="let item of satellites" [class.warning]="item.shouldShowWarning()">
    <th>{{item.name}}</th>
    <th>{{item.type}}</th>
    <th>{{item.operational}}</th>
    <th>{{item.orbitType}}</th>
    <th>{{item.launchDate}}</th>
  </tr>
</table>
